/Vectorialys/dist/
/Vectorialys/Vectorialys/build/
/Vectorialys/Vectorialys/nbproject/private/
/Java/Vectorialys/build/
/Java/Vectorialys/nbproject/private/
/Java/JavaApplication10/nbproject/private/
/Java/Fraction/nbproject/private/
/Java/Fraction/build/
/Java/Equation/nbproject/private/
/Java/Equation/build/
/Java/phrases/nbproject/private/
/Java/phrases/build/
/Java/Tableau/nbproject/private/
/Java/Tableau/build/
/Java/Matrice/nbproject/private/
/Java/Matrice/build/
/TestCasting/nbproject/private/
/TestCasting/build/
/TestAbstract/nbproject/private/
/TestAbstract/build/
/ControleurPression/nbproject/private/
/Java/TDJavaClassesAbstraites/build/
/test/nbproject/private/
/TP_Planete/nbproject/private/
/Listes/nbproject/private/
/InterfaceMap/nbproject/private/
/InterfaceMap/build/
/Genericite/nbproject/private/
/Exception/nbproject/private/
/Exception/build/
/TestNFA032/nbproject/private/
/PremierBat/nbproject/private/
/ExerciceStream/nbproject/private/
/CryptageBinaire/nbproject/private/
/NFA035-TP1/nbproject/private/
/Enums/nbproject/private/
/Enums/build/
/EMDAA/nbproject/private/
/EMDAA/build/