/Vectorialys/dist/
/Vectorialys/Vectorialys/build/
/Vectorialys/Vectorialys/nbproject/private/
/Java/Vectorialys/build/
/Java/Vectorialys/nbproject/private/
/Java/JavaApplication10/nbproject/private/
/Java/Fraction/nbproject/private/
/Java/Fraction/build/
/Java/Equation/nbproject/private/
/Java/Equation/build/
/Java/phrases/nbproject/private/
/Java/phrases/build/